:root {
  /*  --bg-color: rgb(162, 197, 232); */
  /* --bg-color: white; */
 
}

* {
  background-color: var(--bg-color);
}

body {
  margin-left: 20px;
  width: 100vw;
  overflow-x: hidden;
}

footer {
  margin-top: 100px;
  color: black;
}

.light-grey {
  background-color: lightgey;
}

img {
  height: 40px;
}

p {
  background-color: var(--bg-color);
  width: 100%;
}

form {
  width: 100%;
}

form p {
  width: 100%;
}

input[type=text] {
  width: 50%;
  height: 35px;
}

textarea {
  width: 50%;
  height: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
 }

a.visited {
  color: black;
}

#recipe-img {
  height: 200px;
  width: 200px;
}

#recipe-img:hover {
  height: 225px;
  width: 225px;
}

#welcome {
  margin-left: 25px;
  margin-top: 20px;
  font-family: 'Bellota', cursive;
  font-size: 90px;
  font-weight: normal;
}

#welcome:hover {
  font-weight: bold;
}

#card-container {
  margin-top: 60px;
  display: flex;
}

.img_card {
  display: flex;
}

img.chef-img {
  height: 150px;
  width: 150px;
  margin-left: 50px;
}

img.chef-img:hover {
  height: 165px;
  width: 165px;
}

.about_card {
  font-family: 'Bellota', cursive;
  font-size: 30px;
  font-weight: normal;
  margin-left: 5px;
  margin-top: 40px;
}

.about_card:hover {
    font-weight: bold;
}

#home {
  margin-top: 30px;
}


/* 
Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></Icons>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> 
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://www.flaticon.com/authors/nhor-phai" title="Nhor Phai">Nhor Phai</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

*/