<div class="form-page">
  <div class="oc">
    <div id="inner-container-display" class="ic">
      <h2 class="head2">Change Password</h2>
      <form method="post" action="/change_password" id="change-display" class="my-form">
        <p>
          <label for="curent_password" id="current_password_label" class="label">Current Password</label>
          <input type="password" name="current_password" class="input">
        </p>
        <p>
          <label for="password" id="new_password_label" class="label">Enter New Password</label>
          <input type="password" name="new_password" class="input">
          <div id="error"><%= @error %></div>
        </p>
        <input type="submit" value="Change" class="submit-btn"/>
      </form>
    </div>
  </div>
</div>
