<div id="home">
  <img id="recipe-img" src="/images/cook.svg" alt="image of a recipe" />
  <span id="welcome">Welcome to Recipe Revamp</span>
  <div id="card-container">
    <div class="img_card">
      <img src="/images/chef.svg" alt="chef 1" class="chef-img">
      <div id="card1" class="about_card">Create and save<br>your own recipes</div>
    </div>
    <div class="img_card">
      <img src="/images/chef3.svg" alt="chef 3" class="chef-img">
      <div id="card2" class="about_card">Search for and<br>save new recipes</div>
    </div>
    <div class="img_card">
      <img src="/images/chef2.svg" alt="chef 2" class="chef-img">
      <div id="card3" class="about_card">View and edit all<br>your saved recipes</div> 
    </div>
  </div>
</div>
