<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Revamp</title>
</head>
<body>
  <h1>Welcome to Recipe Revamp</h1>
  <h2>A Recipe Organizer</h2>
  <div>
    <p><a href="/users/login">Log In</a></p>
    <p><a href="/users/new">Sign Up</a></p>
  </div>
</body>
</html>