<h1>Sign In</h1>
<form method="POST" action="/users/login">
  <p>
    <label for="user_email">User Name or Email:</label>
    <input type="input" name="user_input" >
  </p>
  <p>
    <label for="user_password">Password:</label>
    <input type="password" name="user_password">
  </p>
  <input type="submit" value="Submit">
</form>

<div><%= @error %></div>