<div id="login-page" class="form-page">
  <div id="outer-container-login" class="oc">
    <div id="inner-container-login" class="ic">
      <h2 class="head2">Log In</h2>
      <form method="POST" action="/users/login" id="login-form" class="my-form">
        <p>
          <label for="user_name" id="user_name_label" class="label">User Name</label>
          <input type="input" name="user_name" class="input">
        </p>
        <p>
          <label for="user_password" id="user_password_label" class="label">Password</label>
          <input type="password" name="user_password" class="input">
        </p>
        <input type="submit" value="Submit" class="submit-btn">
      </form>

      <div><%= @error %></div>
    </div>
  </div>
</div>