<div class="form-page">
  <div class="oc">
    <div id="inner-container-signup" class="ic">
      <h2 class="head2">Sign Up</h2>
      <form method="POST" action="/users/new" class="my-form">
        <p>
          <label for="user_email" class="label">Email</label>
          <input type="input" name="user_email">
        </p>
        <p>
          <label for="user_name" class="label">User Name</label>
          <input type="input" name="user_name">
        </p>
        <p>
          <label for="user_password" class="label">Password</label>
          <input type="password" name="user_password">
        </p>
        <p>
          <label for="confirm_password" class="label">Confirm Password</label>
          <input type="password" name="confirm_password">
        </p>
        <input type="submit" value="Submit" class="submit-btn">
      </form>

      <div><%= @error %></div>
    </div>
  </div>
</div>