<h1>Create a new Recipe</h1>
<form method="post" action="/new">
  <p>
    <label for="name">Name</>
    <input type="text" name="name" />
  </p>
  <p>
    <label for="description">Description</label>
    <textarea name="description"></textarea>
  </p>
  <p>
    <label for="ingredients">Ingredients</label>
    <textarea name="ingredients"></textarea>
  </p>
  <p>
    <label for="directions">Directions</label>
     <textarea name="directions"></textarea>
  </p>
  <input type="submit" value="Create" />
</form>