<form method="post" action="/users/recipes/search">
  <p>
  <label for="food">Search For:</label>
  <input type="text" name="food" placeholder="Search allrecipes.com" />
  </p>
  <input type="submit" value="Search" />
</form>
