<div id="login-page" class="form-page">
  <div id="outer-container" class="oc">
    <div id="inner-container-search" class="ic">
      <h2>Search For</h2>
      <form method="post" action="/users/recipes/search" id="search-form" class="my-form">
        <p>
        <input type="text" name="food" placeholder="Search allrecipes.com" id="search-bar" class="input"/>
        </p>
        <input type="submit" value="Search" class="submit-btn"/>
      </form>
    </div>
  </div>
</div>
