<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Revamp</title>
</head>
<body>
  <h1>Welcome to Revamp</h1>
  <h2>A Recipe Organizer</h2>
  <div>
    <a href="">Log In</a><a href="/users/new">Sign Up</a>
  </div>
</body>
</html>