<h1>Sign In</h1>
<form method="POST" action="/users">
  <p>
    <label for="user_email">User Name or Email:</label>
    <input type="input" name="user_email" value="<%= @session[:input_email] %>">
  </p>
  <p>
    <label for="user_password">Password:</label>
    <input type="input" name="user_password">
  </p>
  <input type="submit" value="Submit">
</form>

<div><%= @session[:error] %></div>